{% extends "base.html" %}
{% block title %}Predict — BTC{% endblock %}
{% block content %}
    <br />
    <div class="container text-center">
  <h1>Information</h1>
  <br />
  <h3>
    In this Bitcoin price prediction system, the target value being predicted is
    the <em>Closing Price</em>. The Closing Price is considered the most
    important value in technical analysis, as it determines buy or sell signals
    across various technical indicators. Ultimately, this value triggers
    investors to take buying or selling positions as their final reaction.
  </h3>
  <br />
  <h3 align="left">
    The values required in this system for prediction are: <br />
    1. <strong>Opening Price</strong>: The first recorded price when trading
    begins for the day. <br />
    2. <strong>High Price and Low Price</strong>: The highest and lowest prices
    recorded during the day, reflecting the daily trading range. These values
    indicate the level of confidence or rationality investors have in taking
    buying or selling positions.
  </h3>
</div>

  {% endblock %}