{% extends "base.html" %}
{% block title %}Predict — BTC{% endblock %}
{% block content %}
    <div class="new" style="position: relative; right: 50px" ;>
      <div style="position: relative; top: 150px" class="login">
        <h1>Predict Bitcoin Price</h1>
        <img
          src="{{url_for('static', filename='btc1.png')}}"
          width="150"
          height="150"
        />
        <h3 class="mt-4">Input Bitcoin Price</h3>
        <form
          action="{{ url_for('predict')}}"
          method="post"
          name="google-sheet"
        >
          <br />
          <input
            type="number"
            name="price_open"
            placeholder="Price Open"
            required="required"
          />
          <input
            type="number"
            name="price_high"
            placeholder="Price High"
            required="required"
          />
          <input
            type="number"
            name="price_low"
            placeholder="Price Low"
            required="required"
          />

          <button type="submit" name="submit" value="predict" class="btn">
            Predict
          </button>
        </form>
        <br />
        <br />
        {{ bu }}
        <br>
        {{ prediction_text }}
      </div>
    </div>
    {% endblock %}